<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='assets/style.css') }}">
  </head>
  <body>
  <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/recipes/browseRecipes">Browse recipes</a></li>
          <li><a href='/recipes/newRecipe'>Add new recipe</a></li>
          <li><a href='/logout'>Logout  </a></li>
          <li><a href='/admin'>Admin panel </a></li>
          <li><a href='/login'>Login</a></li>
          <li><a href='/register'>Register</a></li>
      </ul><br><br>
  </nav>
        <div class = 'user'>
        {% for user in users %}
          <p class = 'nickname'> {{user.name}}</p>
          <p class = 'permissions'>{{user.privileges.value}}</p>
          <a href='/admin/remove/{{user.id}}'>Remove user</a><br>
          <a href='/admin/makeAdmin/{{user.id}}'>Give admin permission</a><br>
          <a href='/admin/makeChef/{{user.id}}'>Give user permission</a><br><br><br>
        {% endfor %}
        </div>

  </body>
</html>