<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='assets/style.css') }}">
  </head>
  <body>
        <div class = 'user'>
        {% for user in users %}
          <p class = 'nickname'> {{user.name}}</p>
          <p class = 'permissions'>{{user.privileges.value}}</p>
          <a href='/admin/remove/{{user.name}}'>Remove user</a><br>
          <a href='/admin/makeAdmin/{{user.name}}'>Give admin permission</a><br>
          <a href='/admin/makeChef/{{user.name}}'>Give user permission</a><br><br><br>
        {% endfor %}
        </div>
    <nav>
      <a href="/">Home</a>
      <a href="/recipes/browseRecipes">Browse recipes</a>
      <a href='/recipes/newRecipe'>Add new recipe</a>
      <a href='/logout'>Logout</a>
      <a href='/login'>Log in</a>
      <a href='/register'>Register</a>
    </nav>
  </body>
</html>