<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log in!</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='assets/style.css') }}">
  </head>
  <body>
  <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/recipes/browseRecipes">Browse recipes</a></li>
          <li><a href='/recipes/newRecipe'>Add new recipe</a></li>
          <li><a href='/logout'>Logout  </a></li>
          <li><a href='/admin'>Admin panel </a></li>
          <li><a href='/login'>Login</a></li>
          <li><a href='/register'>Register</a></li>
      </ul><br><br>
  </nav>
    <div>
      <h2> Log in! </h2>
        <form id="form1" action="/login" method="post">
            <label for="login">Login: </label><br>
            <input type="text" required class="login" id="login" name="login"><br>

            <label for="password">Password: </label><br>
            <input type="password" required class='password' id="password" name="password"><br><br>

            <input type="submit" value="Log in!"><br>
        </form>
        <br>
    </div>
    {% if failed == 1 %}
        <p class="error">Nie udało się zalogować do systemu</p><br><br>
    {% endif %}


  </body>
</html>