<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipes!</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='assets/style.css') }}">
  </head>
  <body>
  <nav>
      <a href="/">Home</a>
      <a href="/recipes/browseRecipes.html">Browse recipes</a>
      <a href='/recipes/newRecipe.html'>Add new recipe</a>
      <a href='/loginSystem/logout.html'>Logout  </a>
      <a href='/loginSystem/adminPanel.html'>Admin panel </a>
      <a href='/loginSystem/login.html'>Login</a>
      <a href='/loginSystem/register.html'>Register</a>
  </nav>
  </body>
</html>