<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8">
        <title>Browse recipe</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='assets/style.css') }}">
   </head>
   <body>
      <div class = 'searchPanel'>
         <form id = ' search' action='/recipes/browseRecipes' method='post'>
            Text: <input type="text" name="textSearch">
            Tag: <input type="text" name="tag">
            Sort by: 
            <select id="sort" name="sort">
               <option value="default">Default</option>
               <option value="fromBest">From the best</option>
               <option value="fromWorst">From the worst</option>
            </select>
            <input type="submit" value="Search">
         </form>
      </div>
      <div class = "recipes">
         <h3> Recipes! </h3>
            {% for recipe in recipes %}
                <div class="recipe">
                    <p class = 'title'> {{recipe.title}}</p>
                    <p class = 'description'>{{recipe.description}}</p>
                    <p class = 'author'>{{recipe.owner}}</p>
                    <p class = 'posVotes'>Votes up: {{recipe.votesUp}}</p>
                    <p class = 'negVotes'>Votes down: {{recipe.votesDown}}</p>
                    <p class = 'rate'> sum: {{recipe.sum}}</p>
                    <a class ='moreLink' href='/recipes/recipe/{{recipe.id}}'> Read more! </a>
                </div>
            {% endfor %}
      </div>
  <nav>
      <a href="/">Home</a>
      <a href="/recipes/browseRecipes">Browse recipes</a>
      <a href='/recipes/newRecipe'>Add new recipe</a>
      <a href='/logout'>Logout  </a>
      <a href='/admin'>Admin panel </a>
      <a href='/login'>Login</a>
      <a href='/register'>Register</a>
  </nav>
   </body>
</html>