<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8">
        <title>Browse recipe</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='assets/style.css') }}">
   </head>
   <body>
  <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/recipes/browseRecipes">Browse recipes</a></li>
          <li><a href='/recipes/newRecipe'>Add new recipe</a></li>
          <li><a href='/logout'>Logout  </a></li>
          <li><a href='/admin'>Admin panel </a></li>
          <li><a href='/login'>Login</a></li>
          <li><a href='/register'>Register</a></li>
      </ul><br><br>
  </nav>
      <div class = 'searchPanel'>
         <form id = ' search' action='/recipes/browseRecipes' method='post'>
             <div class="box" style="background-color:#bbb">
              Text: <input type="text" name="textSearch">
             </div>

             <div class="box" style="background-color:#bbb">
                Tag: <input type="text" name="tag">
             </div>

             <div class="box" style="background-color:#bbb">
                 Sort by:
                <select id="sort" name="sort">
                   <option value="default">Default</option>
                   <option value="fromBest">From the best</option>
                   <option value="fromWorst">From the worst</option>
                </select>
             </div>

             <div class="box" style="background-color:#bbb">
                 <br>
                 <input type="submit" value="Search">
             </div>
         </form>
      </div>
        <br><br><br>
      <div class = "recipes">
         <h3> Recipes! </h3>
            {% for recipe in recipes %}
                <div class="recipe">
                    <h2>{{recipe.title}}</h2>
                    <h4>{{recipe.description}}</h4>
                    <p class = 'author'>author: {{recipe.owner}}</p>
                    <br>
                    <p class = 'posVotes'>Votes up: {{recipe.votesUp}}</p>
                    <br>
                    <p class = 'negVotes'>Votes down: {{recipe.votesDown}}</p>
                    <br>
                    <a class ='moreLink' href='/recipes/recipe/{{recipe.id}}'> Read more! </a>
                </div>
            {% endfor %}
      </div>
      <br><br>

   </body>
</html>