<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipe</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='assets/style.css') }}">
  </head>
  <body>
    <div class = "recipes">
      <h3> Recipe! </h3>
        <div class = 'title'> {{recipe.title}}</div>
        <div class  = 'description'>{{recipe.description}}</div>
        <div class = 'owner'> {{recipe.owner}}</div>

        {% for step in recipe.steps %}
          <div class = 'step'>{{step.description}}</div>
        {% endfor %}

        {% for ingredient in recipe.ingredients %}
          <div class = 'ingredient'>{{ingredient.name}}<br>
            {{ingredient.unit}} {{ingredient.amount}}
          </div>
        {% endfor %}



      <div class = 'votes'>
        Positive: {{recipe.votesUp}}
        <a class ='moreLink' href='/recipes/voteUp/{{recipe.id}}'>Vote up</a><br>
        Negative: {{recipe.votesDown}}
        <a class ='moreLink' href='/recipes/voteDown/{{recipe.id}}'>Vote down</a><br>
        Rate: {{recipe.sum}}<br><br><br><br>
        <div>


      <div class="tags">
        {% for tag in recipe.tags %}
          <p class = 'tag'>
            {{tag.name}}</p>
        {% endfor %}
        <br>
      </div>
    </div>

    <a href="/recipes/removeRecipe/{{recipe.id}}">Remove recipe</a><br><br>

    <nav>
    <a href="/">Home</a>
    <a href="/recipes/browseRecipes">Browse recipes</a>
    <nav>
  </body>
</html>