<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipe</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='assets/style.css') }}">
  </head>
  <body>
  <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/recipes/browseRecipes">Browse recipes</a></li>
          <li><a href='/recipes/newRecipe'>Add new recipe</a></li>
          <li><a href='/logout'>Logout  </a></li>
          <li><a href='/admin'>Admin panel </a></li>
          <li><a href='/login'>Login</a></li>
          <li><a href='/register'>Register</a></li>
      </ul><br><br>
  </nav>
    <div class = "recipes">
      <h3> {{recipe.title}} </h3>
        <h2>{{recipe.description}}</h2>
        <p class = 'author'>author: {{recipe.owner}}</p>
        <div class="clearfix">
            <div class="recipe-section" style="background-color:#ccc">
                {% for step in recipe.steps %}
                 <div class = 'step'>{{step.description}}</div>
                {% endfor %}
            </div>

            <div class="recipe-section" style="background-color:#aaa">
                {% for ingredient in recipe.ingredients %}
                  <div class = 'ingredient'>{{ingredient.name}}<br>
                    {{ingredient.unit}} {{ingredient.amount}}
                  </div>
                {% endfor %}
            </div>
        </div>

<br><br><br><br><br>
<br><br><br><br><br>

            <br><br><br><br><br>
            <br><br><br><br><br>
            <br><br><br><br><br>
      <div class = 'votes'>

          <div class = 'a'>
              Positive: {{recipe.votesUp}}
                <a class ='moreLink' href='/recipes/voteUp/{{recipe.id}}'>Vote up</a><br>
          </div>
            <br>
          <div class = 'a'>
              Negative: {{recipe.votesDown}}
            <a class ='moreLink' href='/recipes/voteDown/{{recipe.id}}'>Vote down</a>
          </div>

            <br><br><br><br><br>
      </div>


      <div class="tags">Tags:
        {% for tag in recipe.tags %}
          <p class = 'tag'>
            {{tag.name}},</p>
        {% endfor %}
        <br>
      </div>
          {% if recipe.video %}
        <iframe width="560" height="315" src="{{recipe.video}}" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>
        {% else %}
          <p>Brak filmu</p>
        {% endif %}
<br>
 <a href="/recipes/removeRecipe/{{recipe.id}}">Remove recipe</a><br><br>
      </div>
</body>
</html>